.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mt-10 {
    margin: 10px 0 0 0;
}

.description>p {
    margin: 12px 0 0 0;
}

.content-images {
    display: flex;
    margin: 32px 0 0 0;
}

.caja>p {
    color: #3F5972;
}