.sidenav-list__item {
    list-style: none;
    padding: 12px 0 0 0;
}

.sidenav-list__item>a {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}

.card {
    border: 1px solid #F9F9FA;
    width: 100%;
}

.card>a {
    text-decoration: none;
}

.card-title {
    color: #223A56;
    font-size: 17px;
}

.card-subtitle {
    font-size: 12px;
    color: #788DA0;
    margin-top: 5px;
}

.card-img {
    width: 100%;
    margin-top: 5px;
}