body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: "Source Sans Pro";
}

.menu,
.container,
.main,
.flex {
    display: flex;
}

.card a,
.card a:visited,
.category .heading a:visited,
.category .heading .more a,
.site a {
    text-decoration: none;
}

.limiter {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    top: 0;
    background-color: #fff;
    width: 1000px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo-name {
    margin: 0;
    font-size: 26px;
    color: #254171;
}

.logo-profession,
.menu-item,
.menu-item>a,
.sidenav-list__item>a,
.card-subtitle {
    color: #545658;
}

.menu-item>a,
.sidenav-list__item>a {
    font-family: "Source Sans Pro";
}

.sidenav-list__item>a:link:active,
.sidenav-list__item>a:visited:active {
    color: #254171;
    font-weight: bold;
}

.menu-item>a:link:active,
.menu-item>a:visited:active {
    color: #254171;
    font-weight: bold;
    text-decoration: underline;
}

.menu {
    display: flex;
}

.menu-item {
    margin: 0 40px 0 0;
    list-style: none;
    font-size: 16px;
}

.menu-item>a {
    text-decoration: none;
}

.container {
    margin-top: 127px
}

.sidenav-list {
    margin: 0;
    padding: 0;
}

.sidenav {
    width: 154px;
    height: 100%;
    position: fixed;
}

.main {
    width: 767px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 0 15px;
    margin-left: 185px;
}

.flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidenav-list__item {
    list-style: none;
    padding: 12px 0 0 0;
}

.sidenav-list__item>a {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}

.project {
    padding: 0 0 20px 0;
}

.card {
    border: 1px solid #F9F9FA;
    width: 360px;
}

.card-img {
    width: 360px;
}

.card-title {
    color: #545658;
    font-size: 17px;
}

.card-subtitle {
    font-size: 12px;
    color: #929292;
}